{# Expects its view model in the keyword argument: alloc_table #}
<div>
    <h4>Allocation Decisions</h4>
    <table class="table table-sm table-bordered">

        <tbody>
        {% for row in alloc_table.rows %}
        <tr>
            {% for cell in row %}
            <td>
                <span class="small text-muted"> {{cell.chamber}}: </span>
                {% for element in cell.assay_types %}
                <span>
                        {% if element.is_target %}
                        <samp class="text-primary"><b>{{element.letter}}</b></samp>
                        {% else %}
                            <samp>{{element.letter}}</samp>
                        {% endif %}
                    </span>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
