{# Expects its view model in the keyword argument: alloc_table #}
<table class="table table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>

  <tbody>
    {% for row in alloc_table.rows %}
        <tr>
          <th scope="row">1</th>
          {% for cell in row %}
          <td>
            <small>{{cell.chamber}}</small>
            <code>{{cell.assay_types}}</code>
          </td>
          {% endfor %}
        </tr>
    {% endfor %}

  </tbody>
</table>
