{# Expects its view model in the keyword argument: firing_stats #}

<table class="table table-sm table-bordered">

    <tbody>
    <thead>
    <tr>
        <th>Assay</th>
        <th>Firing Chambers</th>
        <th>Warning</th>
    </tr>
    </thead>
        {% for row in firing_stats.rows %}

            {% set judgement = "" %}
            {% if row.status == "good" %}
                {% set row_color_class = "text-primary" %}
            {% elif row.status == "bad"  %}
                {% set row_color_class = "text-danger" %}
                {% set judgement = "False Positive" %}
            {% else %}
                {% set row_color_class = "" %}
            {% endif %}

            <tr class="{{row_color_class}}">
                <td>
                    <small>{{row.assay_type}}</small>
                </td>
                <td>
                    <small>{{row.firing_message}}</small>
                </td>
                <td>
                    <small>{{judgement}}</small>
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
