{# Expects its view model in the keyword argument: firing_stats #}

<p>Assay Present in chambers that fired: {{firing_stats.firing_assays}}</p>

<table class="table table-sm table-bordered">

    <tbody>
    <thead>
    <tr>
        <th>Assay</th>
        <th>Firing Chambers</th>
    </tr>
    </thead>
    <tr>
        {% for assay in ("A", "B", "C") %}
        <td>
            <small>{{assay}}</small>
        </td>
        <td>
            <small>3 of 3 (100%)</small>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
