{# Expects its view model in the keyword argument: input_params #}

<form id="form" method="post" action="{{ url_for('form') }}">
    <div class="form-group row">
        <label for="assays" class="col-sm-2 col-form-label">Assays</label>
        <div class="col-sm-1">
            <input class="form-control" type="number"
                   value={{ input_params.assays }}
                   id="assays" name="assays">
        </div>
        <label for="assays" class="col-sm-3 col-form-label text-muted small">
            {{ input_params.assays_enumerated }}
        </label>
    </div>
    <div class="form-group row">
        <label for="replicas" class="col-sm-2 col-form-label">Replicas</label>
        <div class="col-sm-1">
            <input class="form-control" type="number"
                   value={{ input_params.replicas }}
                   id="replicas" , name="replicas">
        </div>
    </div>
    <div class="form-group row">
        <label for="dontmix" class="col-sm-2 col-form-label">Dont Mix</label>
        <div class="col-sm-1">
            <input class="form-control" type="number"
                   value={{ input_params.dontmix }}
                   id="dontmix" , name="dontmix">
        </div>
        <label for="dontmix" class="col-sm-3 col-form-label text-muted small">
            {{ input_params.dontmix_enumerated }}
        </label>
    </div>
    <div class="form-group row">
        <label for="chambers" class="col-sm-2 col-form-label">Chambers</label>
        <div class="col-sm-1">
            <input class="form-control" type="number"
                   value={{ input_params.chambers }}
                   id="chambers" , name="chambers">
        </div>
    </div>
    <div class="form-group row">
        <label for="targets" class="col-sm-2 col-form-label">Targets</label>
        <div class="col-sm-1">
            <input class="form-control" type="number"
                   value={{ input_params.targets }}
                   id="targets" ,
                   name="targets">
        </div>
        <label for="targets" class="col-sm-3 col-form-label text-muted small">
            {{ input_params.targets_enumerated }} </label>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Allocate</button>
        </div>
    </div>
</form>

