{# Expects its view model in the keyword argument: input_params #}

<div>
    <h4>Experiment Design</h4>

    <form id="form" method="post" action="{{ url_for('form') }}">
        <div class="form-group row">
            <label for="assays" class="col-4 col-form-label">Assays</label>
            <div class="col-4">
                <input class="form-control" type="number"
                       value={{ input_params.assays }}
                       id="assays" name="assays">
            </div>
            <label for="assays"
                   class="col-4 col-form-label text-muted small">
                {{ input_params.assays_enumerated }}
            </label>
        </div>
        <div class="form-group row">
            <label for="replicas"
                   class="col-4 col-form-label">Replicas</label>
            <div class="col-4">
                <input class="form-control" type="number"
                       value={{ input_params.replicas }}
                       id="replicas" , name="replicas">
            </div>
        </div>
        <div class="form-group row">
            <label for="dontmix" class="col-4 col-form-label">Dont
                Mix</label>
            <div class="col-4">
                <input class="form-control" type="number"
                       value={{ input_params.dontmix }}
                       id="dontmix" , name="dontmix">
            </div>
            <label for="dontmix"
                   class="col-4 col-form-label text-muted small">
                {{ input_params.dontmix_enumerated }}
            </label>
        </div>
        <div class="form-group row">
            <label for="chambers"
                   class="col-4 col-form-label">Chambers</label>
            <div class="col-4">
                <input class="form-control" type="number"
                       value={{ input_params.chambers }}
                       id="chambers" , name="chambers">
            </div>
        </div>
        <div class="form-group row">
            <label for="targets" class="col-4 col-form-label">Targets</label>
            <div class="col-4">
                <input class="form-control" type="number"
                       value={{ input_params.targets }}
                       id="targets" ,
                       name="targets">
            </div>
            <label for="targets"
                   class="col-4 col-form-label text-primary small">
                {{ input_params.targets_enumerated }} </label>
        </div>

        <div class="form-group row row justify-content-center">
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </form>
</div>

