{# Expects its view model in the keyword argument: view_model #}
<html>
<head>
    <title>Assay Allocation Algorithm</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    {% with input_params=view_model.input_params %}
    {% include "form.html" %}
    {% endwith %}

    {% with alloc_table=view_model.alloc_table %}
    {% include "alloc_table.html" %}
    {% endwith %}

    {% with firing_stats=view_model.firing_stats %}
    {% include "firingstats.html" %}
    {% endwith %}

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
